@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';

.container{
    max-width:900px;
    margin:auto;
    font-family: Roboto,sans-serif;
}

header{
    display:flex;
    align-items: center;
    a{
        margin-left:25px;
    }
    .fas{
        font-weight: bolder;
        color: black;
        font-size: x-large;
    }
    .header__logo{
        
        img{
            width:250px;
            margin:1vw 12vw;
        }
    }
}

section{

    img{
        width:100%;
    }
    .menu{
         background-color: $backgroundcolor1;
         padding-left:25px;
         padding-right:25px;
         margin-top:-8vw;
         position:relative;
         border-top-left-radius: 40px;
         border-top-right-radius: 40px;

        .restaurant-heading{
            display:flex;
            align-items:center;
            justify-content: space-between;
            h1{
                font-family:'Shrikhand';
                font-size:xx-large;
            }
            .far{
                font-size:x-large;
            }
        }
    }
}