.container{
    max-width:1200px;
    margin:auto;
    font-family: Roboto,sans-serif;
}

/* header */

header{
    margin:auto;
}

.header__logo{
    text-align:center;
}

.main-container-header{
    text-align:center;
}

form{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: #e9e9e9;
    height:3rem;
    border-top: 4px solid #e0e0e0;
}

input{
    background-color: transparent;
    border:none;
}

.mapmarker{
    align-self: center;
}

.main-container-header{
    background-color: #e9e9e9;
}

.header-search-button{
    background:linear-gradient(#ff79da,#9356dc);
    color:#fff;
    border:none;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    font-size: large;
    width:30%;
    margin:auto;
    height:3.5rem;
    align-items:center;
    margin-bottom: 2rem;
}

/* nav */

.main-container-nav{
    display: flex;
    justify-content: space-evenly;
}

.nav_button{
    width:20rem;
    height:4rem;
    display:flex;
    border-radius: 30px;
    border:none;
    align-items: center;
    justify-content: space-evenly;
}

/* section */

.container-bloc-restaurant{
    display:flex;
}

.bloc-restaurant img{
    width:15rem;
}

@media screen and (min-width:450px) and (max-width:507px){

/* header */

header{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.header__logo{
    text-align: center;
    margin-bottom:4%;
}

.header__logo img{
    width:68%;
}

.main-container-header{
    background-color: #f6f6f6;
}

form{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: #e9e9e9;
    height:3rem;
    border-top: 4px solid #e0e0e0;
}

input{
    background-color: transparent;
}

h1 , p{
    text-align:center;
    width:80%;
    margin:2rem;
}

h2{
    padding-left:1.3em;
    padding-top: 2em;
}

.search-zone{
    border:0px;
    padding-left: 20px;
    font-size: x-large;
}

.mapmarker{
    align-self: center;
}

.header-search-button{
    background:linear-gradient(#ff79da,#9356dc);
    color:#fff;
    border:none;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    font-size: large;
    width:60%;
    margin:auto;
    height:3.5rem;
    align-items:center;
    margin-bottom: 2rem;
}

/* nav */

nav{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-content:space-around;
}

.main-container-nav{
    justify-content: center;
    flex-direction: column;
}

.nav_button{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:80%;
    padding:20px 30px;
    color:#fff;
    border:none;
    height:5rem;
    border-radius: 30px;
    margin:auto;
    margin-bottom: 6%;
    box-shadow: 0 5px 15px 0 #c3c3c3;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.nav_button_text{
    color:black;
    font-size:large;
    font-weight: bold;
}

.button_icon{
    font-size:x-large;
    color:grey;
}

.button_number{
    background-color: #9356dc;
    height:25px;
    width:30px;
    border-radius: 100%;
    font-size: larger;
    position:absolute;
    left:40px;
    padding-top:5px;
}


/* section */

.container-bloc-restaurant{
    display:flex;
    flex-direction: column;
    margin:6%;
}

.bloc-restaurant{
    margin-bottom: 6%;
    padding-bottom: 5%;
    background-color: #fff;
    border-radius: 2em;
}

.bloc-restaurant img{
    width:100%;
    height:15rem;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.bloc-restaurant a{
    text-decoration: none;
    color:black;
}

.bloc-restaurant__label{
    display:flex;
    justify-content: space-between;
}

.label__icon{
    align-self: center;
    font-size: xx-large;
    margin-right:2rem;
}

.label__heading{
    margin-left: 15px;
    font-size: large;
}

.label__heading h3{
    margin-bottom: 5px;
}

.new{
    background-color: #99e2d0;
    color:#2c9d81;
    font-weight: bold;
    padding:5px 10px;
    position:relative;
    left:19rem;
    top:-13.5rem;
}

section{
    background-color: #f6f6f6;
}

/* footer */

footer ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

footer a{
    text-decoration: none;
    color:#fff;
}

.footer_logo{
    margin-left:2.5rem;
    padding-top:2rem;
    filter:invert(1);
}

.footer_logo img{
    width:8rem;
}

footer{
    background-color: #333;
    height:14rem;
}

.fa-utensils , .fa-hands-helping{
    min-width:30px;
    color:#fff;
}







    


